@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Cinzel:wght@600&family=Palanquin:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
  }

body {
    font-family: Palanquin, sans-serif;
    font-weight: 400;
}

h1 {
    font-family: Cinzel, sans-serif;
}

h2 {
    font-family: Alegreya Sans, serif;
}