@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Cinzel:wght@600&family=Palanquin:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 100%;
  text-decoration: none;
  }

body {
  font-family: Palanquin, sans-serif;
  font-weight: 700;
  color: #003c57;
  align-items: center;
  background-color: #E4A155;
}

html, body {
  margin: 0;
  height: 100%;
}

/* headings and logo */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #003c57;
}

header a {
  display: flex;
  align-items: start;
}

h1, h2 {
  font-family: Cinzel, sans-serif;
  font-size: 200%;
} 

#heading {
  display: flex;
  justify-content: flex-start;
  font-size: 7vw;
  color: #E4A155;
  margin-left: 2vw;
  margin-top: .5vw;
}

#heading:hover {
  color: #10c5e3;
}

/* navigation */
#icon {
  height: 6vw;
  padding: 15px;
  display: flex;
  align-items:flex-end;
  margin-left: auto;
}

.icon {
  height: 6vw;
  padding: 0px;
}

.nav-toggle {
  display: none;
}

/* .nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: red;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
} */

/* .nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
} */

/* .nav-toggle-label span::before {

} */
nav {
  display: flex;
  align-content: center;
  display: none;
  justify-content: flex-end;
  color: #E4A155;
}

.nav-toggle:checked ~ nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#menu {
  list-style-type: none;
  font-size: x-large;
  font-weight: 800;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

#menu a {
  text-decoration: none;
  color: inherit;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  font-size: 3vw
}

#menu a:hover {
  color: #10c5e3;
}

#menu li {
  margin-right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling for meet your match section */
#meet-your-match {
  display: flex;
  align-items: center;
}

#meet-your-match img {
  max-width: 100%;
}

#meet-your-match div {
  position: absolute;
  align-items: center;
}

#meet-your-match h2 {
  text-align: center;
  order: 1;
  font-size: 6vw;
}

#meet-your-match p {
  text-align: center;
  order: 2;
}

#match-text {
  width: 40vw;
  font-size: 2.5vw;
}

main {
  color: #E4A155;
}

figure {
  padding:0%;
  border:0%;
  margin: 0%;
}

/* styling for ultimate smurf section */
#ultimate-smurf {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: -10px;
}

#ultimate-smurf img {
  max-width: 100%;
}

#ultimate-smurf div {
  position: absolute;
  align-items: center;
}

#ultimate-smurf h2 {
  text-align: center;
  order: 1;
  font-size: 6vw;
}

#ultimate-smurf p {
  align-items: flex-end;
  text-align: center;
  order: 2;
}

#smurf-text {
  width: 40vw;
  font-size: 2.5vw;
}

/* The flip card container */
.flip-card {
  background-color: transparent;
  width: 450px;
  height: 650px;
  border: none;
  perspective: 1000px;
}
  
/* position the front and back side of card */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
  
/* Position of front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
  
/* fallback if image is missing */
.flip-card-front {
  background-color: #003c57;
  color:#fff;
}
  
.flip-card-back {
  background-color: #003c57;
  color: #fff;
  transform: rotateY(180deg);
}

/* footer styling */
.footer {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  height: 100%;
  margin-top: -10px;
}

#socials {
  display: flex;
  flex-wrap: wrap-reverse;
  min-width: 100%;
  justify-content: center;
}

#socials ul {
  display: flex;
  z-index: 1;
  list-style-type: none;
  justify-content: center;
  align-items:flex-end;
}

/* #socials img {
  max-width: 100%;
  min-width: 100%;
  z-index: 0;
  position: absolute;
}

#socials figure {
  min-width: 100%;
} */

#selfie img {
  max-width: 100%;
  min-width: 100%;
  z-index: 0;
  position: absolute;
  margin-top: -8px;
}

#selfie figure {
  min-width: 100%;
}


#page-container {
  position: relative;
  min-height: 100vh;
}

/* #content-wrap {
  padding-bottom: 2.5rem;   
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;       
}  */