@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Cinzel:wght@600&family=Palanquin:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 100%;
  }

body {
  font-family: Palanquin, sans-serif;
  font-weight: 700;
  color: #003c57;
  text-decoration: none;
  align-items: center;
  background-color: #E4A155;
}

html, body {
  margin: 0;
  height: 100%;
}

/* headings and logo */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #003c57;
}

h1, h2 {
    font-family: Cinzel, sans-serif;
    font-size: 200%;
} 

#heading {
    display: flex;
    justify-content: flex-start;
    font-size: 350%;
    color: #E4A155;
}

#heading:hover {
  color: #10c5e3;
}

#icon {
  height: 40px;
  padding: 15px;
  display: flex;
  align-items:flex-end;
}

.icon {
  height: 20px;
  padding: 0px;
}

.nav-toggle {
  display: none;
}

/* .nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: red;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
} */

/* .nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
} */

.nav-toggle-label span::before {

}
nav {
  display: flex;
  align-content: center;
  display: none;
  justify-content: flex-end;
  color: #E4A155;
}

.nav-toggle:checked ~ nav {
  display: block;
}

#menu {
  list-style-type: none;
  font-size: x-large;
  font-weight: 800;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  color: #10c5e3;
}

#menu li {
  margin-right: 40px;
}

/* flexbox for meet your match section */
#meet-your-match {
  display: flex;
}

#meet-your-match img {
  max-width: 100%;
}

#meet-your-match div {
  position: absolute;
  align-items: center;
}

#meet-your-match h2 {
  text-align: center;
  order: 1;
}

#meet-your-match p {
  text-align: center;
  order: 2;
}

/* flexbox for ultimate smurf section */
#ultimate-smurf {
  display: flex;
  flex-direction: row-reverse;
}

#ultimate-smurf img {
  max-width: 100%;
}

#ultimate-smurf div {
  position: absolute;
  align-items: center;
}

#ultimate-smurf h2 {
  text-align: center;
  order: 1;
}

#ultimate-smurf p {
  text-align: center;
  order: 2;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 450px;
    height: 650px;
    /* border: 1px solid #003c57; */
    border: none;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #003c57;
    color:#fff;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #003c57;
    color: #fff;
    transform: rotateY(180deg);
  }